/* Common */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  };

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    background-color: lighgray;
    overflow: hidden;
    background-color: rgb(21, 22, 31);
}

.main-content{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    width: 100%;
}


.music-content{
    height: 100%;
    width: 100%;
    position: relative;
}

.music-content::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}


.music{
    /*background-image: linear-gradient(rgb(145, 141, 163), rgb(149, 158, 134));*/
    color: white;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    scrollbar-color: darkgray black;
    position: absolute;
    bottom: 10%;
    right: 0;
    z-index: 999;
}

.music::-webkit-scrollbar {
    width:0; 
    background-color: black; 
}

.music::-webkit-scrollbar-track {
    background-color: rgb(21, 22, 31); 
}
  
  
.music::-webkit-scrollbar-thumb {
    background-color: rgb(31, 32, 48); /* Color de la barra de desplazamiento */
    border-radius: 4px; /* Borde redondeado de la barra */
}

.background{
    object-fit: contain;
    background-position: center;
    height: auto;
    width: 100%;
    position: absolute;
}

.player-top-section{
    display: flex;
    justify-content: space-around;
    padding: 0 20%;
    align-items: center;
    width: 100%;
    height: 190px;
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}

.cover-top{
    width: 128px;
    height: auto;
    border-radius: .3rem;
    display: block;
}

.title-top{
    margin-top: 0;
    text-align: center;
    font-size: 1.2rem;
}


/* Songs */
.songs {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

.songs li {
    text-decoration: none;
    width: 100%;
    padding: 0.5rem 5rem;
    border-bottom: 1px solid #868686;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.songs .cover{
    width: 50px;
    height: auto;
}

.songs li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.songs li.active{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.songs a {
    text-decoration: none;
    color: #fff;
    /* Transiciones para suavizar el cambio de opacidad */
    transition: color 0.3s;
}


.songs a:hover{
    color: #c5c5c5;
}

.songs a.active {
    color: white;
    font-weight: bold;
}

.songs .artist{
    font-size: 0.8rem;
    color: #ccc;
}

.songs .duration{
    font-size: 0.9rem;
}


/* Player */
.player {
    height: 100vh;
    width: 30%;
    padding: 5rem 2rem;
    color: white;
    background-color: rgb(33, 33, 56);
    position: absolute;
    top: 0;
    left: -30%;
}

/* Title */
.title {
    margin-top: 0;
    text-align: center;
    font-size: 1.2rem;
}


/* Progress */
.progress-container {
    height: .2rem;
    width: 50%;
    background-color: rgb(126, 126, 126);
}

.progress {
    background-color: rgb(255, 255, 255);
    width: 0;
    height: 100%;
}

/* Controls */
.control-section{
    width: 100%;
    background-color: rgba(50, 53, 75, 0.5);
    backdrop-filter: blur(15px);
    position: fixed;
    bottom: 0;
    height: 10%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}


.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 10%;
}

.content-controls{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.controls i {
    font-size: 0.9rem;
    color: white;
}

/* Time */
.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: bolder;
    font-size: 0.7rem;
    position: relative;
}

.time-song-actualtime{
    position: absolute;
    left: -35px;
    top: -8px;
}

.time-song-duration{
    position: absolute;
    right: -35px;
    top: -8px;
}

/* Volume */ 
.volume{
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume-bar {
  width: 100px;
  height: 5px;
  background-color: #ccc;
  cursor: pointer;
  margin-left: 5px;
}

.volume-slider {
  width: 10px;
  height: 5px;
  background-color: goldenrod;
  cursor: pointer;
  z-index: 999;
}